:root {
    --backgroundColor: #c8c8ff;
    --grey: #282c34;
    --sheet-white: #eee;
}

body {
    background: var(--backgroundColor);
    height: 100%;
    padding: 0;
    width: 100%;
}

#container {
    border: 1px outset black;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0 ,0 ,0 ,0.9);
    background: var(--grey);
    display: block;
    height: 260px;    
    margin: auto;
    margin-top: 5%;    
    position: relative;
    width: 500px;    
}

#sheet {
    border: 1px inset black;    
    background: var(--sheet-white);    
    height: 240px;    
    margin-left: 20px;    
    margin-top: 9px;  
    width: 400px;    
}

.pencil {    
    background: red;
    height: 25px;
    left: -60px;
    position: absolute;
    top: 5px;
    width: 100px;
}

.pencil-shaft {    
    background: yellow;   
    height: 100%;
    right: 0;    
    position: absolute;    
    width: 75px;
}

.pencil-side-top {
    background: green;   
    border-bottom-left-radius: 50px;
    height: 30%;
    right: 0;    
    position: absolute;   
    width: 100%;    
}

.pencil-side-middle {
    background: green;   
    border-radius: 5px 0 0 5px;
    height: 40%;
    top: 30%;    
    right: 0;    
    position: absolute;     
    width: 100%;       
}

.pencil-side-bottom {
    background: green;
    border-top-left-radius: 50px;
    bottom: 0;
    height: 30%;
    right: 0;    
    position: absolute; 
    width: 100%;           
}

.pencil-bright-side {    
    background: white;   
    border-bottom-left-radius: 50px;
    height: 30%;
    opacity: 0.2;
    right: 0;
    top: 0;   
    position: absolute;   
    width: 100%;      
}

.pencil-dark-side {    
    background: black;   
    border-top-left-radius: 50px;
    bottom: 0;
    height: 30%;
    opacity: 0.2;
    right: 0;    
    position: absolute;   
    width: 100%;      
}

@media only screen and (max-width: 600px) {
    body {
        background: green;
    }
}