:root {
    --backgroundColor: #c8c8ff;
    --grey: #282c34;
    --sheet-white: #eee;
    --pencil-tip-color: #b1a79e;
    --pencil-tip-reflection: rgba(250,250,250,0.5);
}

body {
    background: var(--backgroundColor);
    height: 100%;
    padding: 0;
    width: 100%;
}

#container {    
    display: block;
    margin: auto;
    margin-top: 5%;    
}

#window-box {
    border: 1px outset black;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0 ,0 ,0 ,0.9);
    background: var(--grey);  
    display: block;
    margin: auto;  
    height: 260px;               
    position: relative;
    width: 500px;    
}

#sheet {
    border: 1px inset black;    
    background: var(--sheet-white);    
    height: 240px;    
    margin-left: 20px;    
    margin-top: 9px;  
    width: 400px;    
}

.pencil {            
    height: 20px;
    left: -60px;    
    position: absolute;    
    width: 100px;
    z-index: -1;
}

.pencil-shaft {        
    height: 100%;
    right: 0;    
    position: absolute;    
    width: 76px;
}

.pencil-side-top {    
    border-bottom-left-radius: 50px;
    height: 30%;
    right: 0;    
    position: absolute;   
    width: 100%;    
}

.pencil-side-middle {    
    border-radius: 5px 0 0 5px;
    height: 40%;
    top: 30%;    
    right: 0;    
    position: absolute;     
    width: 100%;       
}

.pencil-side-bottom {    
    border-top-left-radius: 50px;
    bottom: 0;
    height: 30%;
    right: 0;    
    position: absolute; 
    width: 100%;           
}

.pencil-bright-side {    
    background: white;   
    border-bottom-left-radius: 50px;
    height: 30%;
    opacity: 0.4;
    right: 0;
    top: 0;   
    position: absolute;   
    width: 100%;      
}

.pencil-dark-side {    
    background: black;   
    border-top-left-radius: 50px;
    bottom: 0;
    height: 30%;
    opacity: 0.4;
    right: 0;    
    position: absolute;   
    width: 100%;      
}

.pencil-tip {
    background: var(--pencil-tip-color);
    clip-path: polygon(0% 50%, 65% 0%, 100% 0%, 100% 100%, 65% 100%);
    height: 100%;
    left: 0;
    position: absolute;
    width: 33%;
}

.pencil-lead {    
    clip-path: polygon(0% 50%, 65% 0%, 100% 0%, 100% 100%, 65% 100%);
    border-radius: 50%;
    height: 33%;
    left: 0;    
    position: absolute;
    top: 33%;
    width: 12%;
}

.pencil-tip-reflection {
   /* background: var(--pencil-tip-reflection);*/
    /* IE10+ */ 
    background-image: -ms-linear-gradient(bottom right, rgba(250,250,250,0.1) 40%, var(--pencil-tip-reflection) 100%);    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom right,rgba(250,250,250,0.1) 40%, var(--pencil-tip-reflection) 100%);    
    /* Opera */ 
    background-image: -o-linear-gradient(bottom right, rgba(250,250,250,0.1) 40%, var(--pencil-tip-reflection) 100%);    
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(40, rgba(250,250,250,0.1)), color-stop(100,var(--pencil-tip-reflection)));    
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom right, rgba(250,250,250,0.1) 40%, var(--pencil-tip-reflection) 100%);    
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom right, rgba(250,250,250,0.1) 40%, var(--pencil-tip-reflection) 100%);
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);    
    height: 40%;
    left: 2%;    
    position: absolute;
    top: 10%;
    width: 25%;

}

.pencil-color-red { background: red; }
#pencil-red { top: 10px; }

.pencil-color-pink {background: pink; }
#pencil-pink { top: 32px; }

.pencil-color-orange {background: orange; }
#pencil-orange { top: 54px; }

.pencil-color-yellow {background: yellow; }
#pencil-yellow { top: 76px; }

.pencil-color-purple {background:purple; }
#pencil-purple { top: 98px; }

.pencil-color-green {background:green; }
#pencil-green { top: 120px; }

.pencil-color-blue {background:blue; }
#pencil-blue { top: 142px; }

.pencil-color-brown {background:brown; }
#pencil-brown { top: 164px; }

.pencil-color-white {background:white; }
#pencil-white { top: 186px; }

.pencil-color-gray {background:gray; }
#pencil-gray { top: 208px; }

.pencil-color-black {background:black; }
#pencil-black { top: 230px; }

@media only screen and (max-width: 600px) {
    body {
        background: green;
    }
}0